.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

#pane {
    -fx-background-image: url('./background.jpeg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}